
// Import what we want from bootstrap
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/normalize';
@import 'node_modules/bootstrap/scss/reboot';
@import 'node_modules/bootstrap/scss/type';
@import 'node_modules/bootstrap/scss/grid';
@import 'node_modules/bootstrap/scss/tables';
@import 'node_modules/bootstrap/scss/buttons';
@import 'node_modules/bootstrap/scss/utilities/text';
@import 'node_modules/bootstrap/scss/utilities/clearfix';
@import 'node_modules/bootstrap/scss/utilities/spacing';


// Our style.
$col-grey: #f3f3f3;

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page {
  & > header {
    background-color: $col-grey;
  }
  & > main {
    flex: 1 0 auto;
  }
  & > footer {
    background-color: $col-grey;
  }
}
